<div>
  <button (click)="downloadPdf()">Download PDF</button>
</div>

<!-- 🔥 Scrollable A4 Preview -->
<div style="overflow-y: auto; max-height: 90vh;">
  <div
    *ngFor="let page of pages; let pageIndex = index"
    class="a4-page"
    id="a4-content-{{ pageIndex }}"
  >
    <ng-container *ngFor="let item of page.items">
      <div
        [ngStyle]="{
          position: 'absolute',
          left: item.x + 'mm',
          top: item.y + 'mm',
          width: item.width + 'mm',
          height: item.height + 'mm'
        }"
      >
        <app-text-box *ngIf="item.type == 'text'"></app-text-box>
        <app-table-box *ngIf="item.type == 'table'"></app-table-box>
        <app-graph1 *ngIf="item.type == 'graph1'"></app-graph1>
      </div>
    </ng-container>
  </div>
</div>
